	<div id="jumbotron"><h2>Least Popular Categories</h2>

	<ul class="people_list">
	  
	  {{#each products}}
	    <li>{{this.name}} -{{this.qty}}</li>
	  {{/each}}
	<img src="../valentines-goodies_store.jpg">	
	 
	</ul>
	</div>