	<div id="jumbotron"><h2>Least Popular Products</h2>

	
	<ul class="people_list">

			{{product.name}} - {{product.amt}}
	

	<img scr="../"/>
 	<a href="./index.html">Back to Homepage</a>
	
	</ul>
	</div>
