	<div id="jumbotron"><h2>Most Popular Categories</h2>


	<ul class="people_list">

	
			{{productCat.name}} -{{productCat.amt}}
	
	
	<img src="../20_oz_Soda_vending_000.jpg"/>
	<a href="./index.html">Back to Homepage</a>	
	
	</ul>
	</div>